.app {
  background-color: #dadbd3;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: overlay;
}

.app__body {
  background-color: #ededed;
  height: 90vh;
  width: 90vw;
  display: flex;
  margin-top: -50px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
